.application-management-container {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    display: flex;
    justify-content: center;
}

.application-table-container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.create-application-and-task-buttons {
    /* width: 400px; */
    /* width: 60%; */
    align-self: flex-end;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin-left: 1200px;
}

.application-table {
    /* width: 60%; */
    min-width: 600px;
    /* max-width: 800px; */
    border-collapse: collapse;
    margin-bottom: 80px;
    align-self: center;
}

.application-table th,
.application-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    max-height: 400px;
    overflow-y: hidden;
    overflow-x: wrap;
}
#application-description {
    text-align: left;
    max-height: 400px;
    padding-right: 10px;
    overflow-y: auto;
    overflow-x: wrap;
}

.application-table .edit-view-button-container {
    display: flex;
    /* width: 200px; */
}

.edit-view-button-container > :first-child {
    /* width: 200px; */
    margin-right: 6px;
}
