body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff9a5;
    color: #b48b7d;
    padding: 20px 30px;
    /* padding-right: 100px; */
    margin: 0;
    /* width: 100vw; */
}

.navbar-title {
    font-size: 20px;
    font-weight: bold;
}

.navbar-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    text-decoration: none;
    color: inherit;
    margin-left: 50px;
    cursor: pointer;
}

.nav-item:hover {
    color: #775a50;
}
