.task-card-container-container {
    width: 250px;
}

.task-card-container {
    padding: 0 0 6px 0;
    background-color: aliceblue;
    border-style: solid;
    z-index: 1;
    margin-bottom: 2px;
    width: 250px;
    height: 110px;
    border-width: 1.5px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
}

.task-card-container-expanded {
    padding: 0 0 6px 0;
    background-color: aliceblue;
    position: relative;
    z-index: 2;
    border-style: solid;
    margin-bottom: 2px;
    width: 500px;
    /* height: 500px; */
    border-width: 1.5px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
}

.colour-bar {
    display: flex;
    /* width: 100%; */
    height: 15px;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    align-items: center;
    padding: 4px 2px 2px 6px;
}

.expanded-task-container{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.details-header {
    padding-top: 10px;
    padding-bottom: 10px;
    align-self: flex-start;
    font-weight: bold;
    
}

.task-content {
    display: flex;
    /* justify-content: space-around; */
    overflow: hidden;
    white-space: nowrap;

    padding: 10px;
    width: 90%;
}
.task-note-top {
    display: flex;
    padding-left: 10px;
    padding-bottom: 5px;
    width: 500px;
}

.task-note-top-content {
    padding-right: 8px;
}

.notes-container {
    min-height: 350px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-end;
}

.task-note-content {
    
    text-align:  left;
    padding-left: 10px;
    padding-bottom: 20px;
    width: 80%;
    
}



.pagination-container {
    padding-left: 10px;
    display: flex;
    /* justify-content: space-around; */
    width: 50%;
}

.page-number {
    margin-right: 10px;
    color: blue;
}

.current-page{
    font-weight: bold;
    text-decoration: underline;
}

.page-number:hover {
    cursor: pointer;
}

#task_description {
    text-align: start;
}

.system-note {
    color: red;
}

#task-id {
    color: red;
}

#task-name {
    color: black;
    padding-left: 5px;
   
    text-overflow: ellipsis;
}

#task-owner {
    color: green;
    align-self: flex-start;
    padding-left: 10px;
}

#task-datetime {
    padding: 5px;
}
